#contact {
  background: $grey;
}

.contact-section {
  min-height: 100vh;
  padding-top: 150px;

  h1 {
    margin-bottom: 50px;
    font-weight: 410;
    font-size: 2rem;
  }

  .contact-image {
    width: 80%;
  }

  .contacts-wrapper {
    margin-top: 50px;
  }
}

.contact-box {
  margin-bottom: 30px;

  .title {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .means {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 410;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;

    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: $black;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: translateY(5px);

      &:after {
        transform: scale(0);
      }
    }
  }
}

.follow-box {
  margin-bottom: 30px;

  .title {
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 20px;
  }

  .follow-links-wrapper {
    display: grid;
    grid-template-areas:
      'tilte tilte'
      'instagram facebook'
      'dribble behance';

    .link {
      .link-item {
        position: relative;
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 410;
        margin-bottom: 1rem;
        padding-bottom: 5px;

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          height: 2px;
          width: 0%;
          transition: all 0.2s ease-in-out;
          background: $black;
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.contact-footer {
  display: flex;
  justify-content: end;
  padding-bottom: 3rem;

  p {
    text-transform: uppercase;
    font-size: 12px;
  }
}

// Responsive Media Queries
@media (min-width: 540px) {
}

@media (min-width: 720px) {
  .contacts-wrapper {
    display: grid;
    grid-template-areas:
      'augustinas general'
      'office follow';
  }
}

@media (min-width: 960px) {
  .contact-section {
    display: grid;
    grid-template-areas:
      'header image'
      'contact image'
      'footer footer';
    gap: 0 2rem;

    .header-container {
      grid-area: header;
      padding-right: 0;
    }

    .contact-image {
      grid-area: image;
      align-self: center;
      margin-left: auto;
    }

    .contact-container {
      grid-area: contact;
      padding-right: 0;
      align-self: end;

      .contacts-wrapper {
        gap: 0 2rem;
      }
    }

    .footer-container {
      grid-area: footer;
      align-self: end;
    }
  }
}

@media (min-width: 1140px) {
}
