// Home Intro
.home-intro {
  height: calc(100vh - 120px);
  padding-bottom: 120px;

  .container {
    height: 100%;
  }

  .home-intro-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    h5 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}

.header-bottom-wrapper {
  // display: grid;
  position: relative;
}

.intro-main {
  display: grid;
  grid-template-columns: min-content auto min-content;
  cursor: default;

  h2 {
    font-size: 3rem;
    font-weight: 410;
  }

  .intro-line {
    flex: 1;
    height: 0.2rem;
    background: $black;
    transform: translateY(2rem);
    margin: 0 2rem;
  }
}

// Animation
.intro-slide {
  .first,
  .second {
    overflow: hidden;
  }

  .first-inner,
  .second-inner {
    transition: all 500ms ease-in-out;
    animation: introSlide 5s ease-in-out infinite;
  }
}

.intro-slide-one,
.intro-slide-two,
.intro-slide-three {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.intro-slide-one {
  animation: opacityOne 15s infinite;
}

.intro-slide-two {
  animation: opacityTwo 15s infinite;
}

.intro-slide-three {
  animation: opacityThree 15s infinite;
}

@keyframes opacityOne {
  0%,
  33% {
    opacity: 1;
  }
  34%,
  66% {
    opacity: 0;
  }
  67%,
  100% {
    opacity: 0;
  }
}

@keyframes opacityTwo {
  0%,
  33% {
    opacity: 0;
  }
  34%,
  66% {
    opacity: 1;
  }
  67%,
  100% {
    opacity: 0;
  }
}

@keyframes opacityThree {
  0%,
  33% {
    opacity: 0;
  }
  34%,
  66% {
    opacity: 0;
  }
  67%,
  100% {
    opacity: 1;
  }
}

@keyframes introSlide {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

// Responsive Media Queries
@media (min-width: 540px) {
  .home-intro {
    height: calc(100vh - 120px);
  }
}

@media (min-width: 720px) {
  .home-intro {
    height: calc(100vh - 120px);
    h2 {
      font-size: 5rem;
    }

    .intro-line {
      transform: translateY(3rem);
    }
  }
}

@media (min-width: 960px) {
  .home-intro {
    height: calc(100vh - 150px);
  }
}

@media (min-width: 1140px) {
  .home-intro {
    height: calc(100vh - 200px);
  }
}
