// CONTAINER
.container {
  padding: 0 1rem;
}

// BTN UNDERLINE
.btn-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background: $black;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

// Header Equal
.header-equal {
  height: 120px;
}

// Responsive Media Queries
@media (min-width: 540px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 720px) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 100px;
  }

  .header-equal {
    height: 150px;
  }
}

@media (min-width: 1140px) {
  .container {
    padding: 0 150px;
  }

  .header-equal {
    height: 200px;
  }
}
