// CONTAINER
.container {
  padding: 0 1rem;
}

// BTN UNDERLINE
.btn-underline {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background: $black;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

// Header Equal
.header-equal {
  height: 120px;
}

// Slide In Animation
.slide-in {
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-in-out;

  &.slide-in-animate {
    transform: translateY(0%);
    opacity: 1;
  }
}

// Scroll Down Arow
.scroll-down {
  text-transform: uppercase;
  position: relative;
  font-size: 0.7rem;

  &:hover {
    .scroll-down-link .scroll-line {
      flex: 0.5;
    }
  }

  .scroll-down-link {
    position: absolute;
    bottom: 0;
    width: 200px;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transform-origin: top left;

    .scroll-arow {
      width: 10px;
      height: 10px;
      display: block;
      background: url('./img/scroll-arow.png') no-repeat;
      background-size: contain;
    }

    .scroll-line {
      // width: 100%;
      flex: 1;
      height: 2px;
      background: $black;
      transition: 0.3s cubic-bezier(0.65, 0, 0.17, 0.98);
      margin-right: 10px;
    }
  }
}

// Button
.btn {
  text-transform: uppercase;
  font-weight: 410;

  &.btn-shrink {
    display: flex;
    align-items: center;

    &.btn-center {
      margin: 0 auto;

      &:hover {
        padding: 0 2.5rem;
      }
    }

    .btn-line {
      display: inline-block;
      width: 5rem;
      height: 2px;
      margin: 0 0.5rem;
      background: $black;
      transition: all 0.3s ease-in-out;

      &.line-white {
        background: $white;
      }
    }

    &:hover {
      .btn-line {
        width: 0px;
      }
    }
  }
}

// Text Muted
.text-muted {
  opacity: 0.5;
}

// Link Underline
.link-underline {
  text-transform: uppercase;
  position: relative;
  margin: 10px 0;
  font-weight: 410;

  &:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background: $black;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

// Responsive Media Queries
@media (min-width: 540px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 720px) {
  .container {
    padding: 0 50px;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 100px;
  }

  .header-equal {
    height: 150px;
  }
}

@media (min-width: 1140px) {
  .container {
    padding: 0 150px;
  }

  .header-equal {
    height: 200px;
  }
}
