#work {
  background: $black;
}

#works-header {
  padding: 5rem 0;
  position: relative;
  z-index: 20;

  .works-header-wrapper {
    display: flex;
    justify-content: center;

    .header-list {
      .header-list-item {
        text-align: center;
        margin-bottom: 2rem;

        .header-list-link {
          color: $white;
          font-size: 1.7rem;
          opacity: 1;
          transition: all 0.2s ease-in-out;
        }
      }

      &:hover {
        .header-list-item .header-list-link {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.work-hover-image {
  background: url('./img/1-1920x1200.jpg') no-repeat center center/cover;
  visibility: hidden;
  opacity: 0;
  width: 200px;
  height: 150px;
  transform: translate(-50%, -50%) scale(0.3);
  transition: opacity 0.1s, visibility 0.1s, transform 0.2s;
  position: absolute;
  z-index: 10;
}

// Responsive Media Queries
@media (min-width: 540px) {
}

@media (min-width: 720px) {
  .work-hover-image {
    width: 400px;
    height: 200px;
  }
}

@media (min-width: 960px) {
  .work-hover-image {
    width: 500px;
    height: 250px;
  }
}

@media (min-width: 1140px) {
  .header-list-link {
    font-size: 2rem;
  }

  .work-hover-image {
    width: 600px;
    height: 300px;
  }
}
