// Studio
#studio {
  background: $grey;
}

// Studio Intro
.studio-intro {
  height: calc(100vh - 120px);
  padding-bottom: 5rem;

  .container {
    height: 100%;
  }

  .studio-intro-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    h5 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}

.studio-about {
  padding: 5rem 0;

  .studio-about-wrapper {
    position: relative;

    .about-images {
      padding: 5rem 0;
      display: grid;
      grid-template-columns: 1fr;
      gap: 4rem;

      .first-image {
        width: 85%;
        margin-right: auto;
      }

      .second-image {
        width: 95%;
        margin-left: auto;
      }
    }
  }
}

// Section Counter
.section-counter {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.8rem;
  transform: translateX(-60%) rotate(-90deg);
  transform-origin: bottom left;
}

// Description Box
.description-box {
  .text-muted {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

// Plus Section
.plus-section-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  padding: 2rem 0;

  .plus-section {
    display: flex;
    flex-direction: column;

    .header {
      font-size: 1.5rem;
      border-bottom: 2px solid $black;
      margin-bottom: 1.5rem;
      padding-bottom: 16px;
    }

    ul li {
      margin-bottom: 1rem;
    }
  }

  .plus {
    width: 50px;
    height: 50px;
    margin: 1.5rem 0;
  }
}

// Manifesto Section
.manifesto {
  height: 100vh;
  background: $grey;
  color: $black;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease-in-out;

  &.bg-black {
    background: $black;
    color: $white;
  }

  .manifesto-wrapper {
    position: relative;

    h1 {
      font-size: 6rem;
      font-weight: 510;
      white-space: nowrap;
    }
  }
}

// Team Section
.team {
  padding: 5rem 0;

  .team-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 5rem 0;

    .gallery-card {
      img {
        margin-bottom: 1.2rem;
      }
      .name {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }

      .text-muted {
        font-size: 1.2rem;
      }
    }
  }
}

// Overview Section
.overview {
  padding-bottom: 10rem;

  .select-industry {
    margin-top: 4rem;

    .text-muted {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }

    .industry-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      .link-underline {
        font-size: 1.5rem;

        sup {
          font-size: 0.7rem;
        }
      }
    }
  }
}

// Awards Section
.awards {
  margin-top: 5rem;
  padding-bottom: 5rem;

  .awards-image {
    margin-bottom: 3rem;

    img {
      margin-top: -10rem;
    }
  }

  // Awards sm
  .awards-wrapper-sm {
    margin-top: 2rem;

    .awards-card {
      margin-bottom: 3rem;
      font-size: 0.9rem;

      .awards-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10%;
        margin-bottom: 1rem;

        .title {
          opacity: 0.5;
          text-transform: uppercase;
          margin-right: 30%;
        }

        .awards-link {
          color: $white;
          position: relative;

          &:after {
            position: absolute;
            content: '';
            background: $white;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            transform-origin: center;
          }

          &:hover {
            &:after {
              transform: scale(0);
            }
          }
        }
      }
    }
  }

  // Awards md
  .awards-wrapper-md {
    display: none;
    margin-top: 3rem;
    font-size: 0.7rem;

    .awards-titles {
      display: grid;
      grid-template-columns: 60% 20% 20%;

      .title {
        opacity: 0.5;
        text-transform: uppercase;
      }

      .title:nth-of-type(3) {
        margin-left: auto;
      }
    }

    .awards-row-wrapper {
      margin-top: 1.5rem;

      .awards-row {
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 30% 30% 20% 20%;
        transition: all 0.2s ease-in-out;

        .award-two {
          padding-right: 1.5rem;
        }

        .year {
          margin-left: auto;
        }

        .project-link {
          color: $white;
          position: relative;
          margin-right: auto;
          margin-bottom: inherit;

          &:after {
            position: absolute;
            content: '';
            background: $white;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
            transform: scale(1);
            transform-origin: center;
          }

          &:hover {
            &:after {
              transform: scale(0);
            }
          }
        }
      }

      // Awards Hover Effect
      &:hover {
        .awards-row {
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

// Responsive Media Queries
@media (min-width: 540px) {
  .awards .awards-image {
    padding-left: 20px;
  }
}

@media (min-width: 720px) {
  .studio-about .studio-about-wrapper .about-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;

    .second-image {
      transform: translateY(10%);
    }
  }

  .studio-intro {
    h2 {
      font-size: 5rem;
    }

    .intro-line {
      transform: translateY(3rem);
    }
  }

  .plus-section-wrapper {
    grid-template-columns: 1fr 150px 1fr;

    .plus {
      margin: 1.3rem auto;
    }
  }

  .team .team-gallery {
    grid-template-columns: repeat(3, 1fr);

    .gallery-card:nth-of-type(1) {
      transform: translateY(10%);
    }
    .gallery-card:nth-of-type(2) {
      transform: translateY(5%);
    }
    .gallery-card:nth-of-type(3) {
      transform: translateY(0);
    }
    .gallery-card:nth-of-type(4) {
      transform: translateY(20%);
    }
    .gallery-card:nth-of-type(5) {
      transform: translateY(10%);
    }
    .gallery-card:nth-of-type(6) {
      transform: translateY(15%);
    }
  }

  .overview .select-industry .industry-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 10rem;
  }

  .awards .awards-image {
    padding-left: 50px;
  }

  .awards-wrapper-sm {
    display: none;
  }

  .awards .awards-wrapper-md {
    display: block;
  }
}

@media (min-width: 960px) {
  .overview .select-industry .industry-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .awards .awards-image {
    padding-left: 100px;
  }
}

@media (min-width: 1140px) {
  .plus-section-wrapper {
    .plus {
      margin: 1.4rem auto;
    }
  }

  .description-box,
  .plus-section-wrapper {
    &:not(.no-padding) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  .awards .awards-image {
    padding-left: 150px;
  }
}
